.divLegend{

    display: none;

    font-family: 'Poppins', sans-serif;
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.Legend{
	text-align: justify;
    font-size: 18px;
    text-transform: inherit;
}

div h2{
	margin: 1px;
	font-family: 'Poppins', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
}