.background{
	background: url(../img/background.png)no-repeat center center fixed;
	background-size: cover;
	height: 935px;
	color: #414141;
	
}

.bigBox {
	display: flex;
	align-items: center;
	align-content: center;
	flex-direction: column;
	margin: auto;
	height: 100%;
}

.whiteBox{
	margin: auto;
	Width: 765px;
	background-color: white;
	box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.Title{
	text-align: center;
	font-size: 36px;
}

.Container{
	font-family: 'Poppins', sans-serif;
	font-style: normal;
}

.footer{
	margin: auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}