
.background{
	background: url(../img/background.png)no-repeat center center fixed; 
	background-size: cover;
	width: 100%;
	height: 935px;

	display: flex;

}

.whiteBox{
	display: block;
 	margin: auto;

	background-color: white;
	width: 50%;
	box-shadow: 0px 0px 10px rgba(48, 48, 48, 0.7);
}

.Title{
	margin-top: 20px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
	font-size: 36px;
}

.imageName{
	display: flex;
	justify-content: center;
}



.Container1{
	margin: 20px;
}

.Container2{
	display: flex;
}

.subContainer1{
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	flex-basis: 70%;

}

.subContainer2{
	display: flex;
	flex-basis: 20%;
	flex-direction: column;
	align-content: flex-end;
}

.containerZ{
	display: flex;
	flex-flow: row wrap;
}

.Stats{
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
}

.Value{
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	justify-content: flex-end;
}