.divImage{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	margin: 1px;
}

.images{
	margin-top: 66px;
	width: 134px;
	height: 130px;
}

.numberName{
	margin-top: 10px;;
	margin: 1px;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-style: normal;
	color: #414141;
}

