
.divInput{
  display: flex;
  height: 54px;
  width: 448px;
  justify-content: space-between;
  margin: 0px auto;
  border: 1px solid;
  border-color: #b8b8b8;
}

input{
  height: 50px;
  width: 400px;
  border: none;
  outline: none;
  margin-left: 16px;;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #797979;

}

input:focus{
  border: none;
}

.lupa{
  margin-right: 5px;
  width: 20px;
  opacity: 0.5;
}