
input{
  position: inherit;
  height: 70px;
  width: 400px;
  left: 495px;
  top: 213px;
  border-radius: 0px;

  margin: auto;

  outline: none;
  border: 0;

}

input:focus{
  border: none;
}

.divInput{
  position: inherit;
  height: 72px;
  width: 450px;
  left: 495px;
  top: 213px;
  border-radius: 0px;

  margin: auto; 
  border: 1px solid;
}

.lupa{
  position: static;
  width: 20px;
  height: 20px;
  color: gray;
}