.Container2{
	display: flex;
	margin: 20px;
}

.subContainer1{
	flex-basis: 70%;
	font-size: 18px;
}

.subContainer2{
	flex-basis: 30%;
	flex-direction: column;
}

.containerStats{
	display: flex;
	justify-content: space-between;
}

p{
	margin: 1px auto;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-transform: capitalize;
}

h3{
	margin: 1px auto;
	font-size: 24px;
}
